.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pics{
    width: 30%;
    padding: 3px;
}

.home{
    margin: 15px auto;
}

.homeID{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create-post-form{
    height: 450px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    width: 70%;
    border-radius: 30px;
    box-shadow: 3px 5px 5px 3px #888888;
}