.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pics{
    width: 30%;
    padding: 3px;
}

.home{
    margin: 15px auto;
}

.homeID{
    display: flex;
    flex-direction: column;
    justify-content: center;
}